@import './components/mediaQuery';
@import './base/_variables.scss';

@font-face {
    font-family: "inter-extrabold";
    src: url(./fonts/InterV/Inter-ExtraBold.woff2) format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "inter-black";
    src: url(./fonts/InterV/Inter-Black.woff2) format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "inter-light";
    src: url(./fonts/InterV/Inter-Light.woff2) format("woff2");
    font-display: swap;
}

:root {
    --font-texto: "inter-extrabold";
    --font-black: "inter-black";
    --font-light: "inter-light";
}

*{
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.link {
    text-decoration: none;
    // color: white;
    font-family: var(--font-texto);
    font-size: 22px;
}

.texto {
    font-size: 2rem;
}

.cFlex {
    display: flex;
}

body {
    background-color: $colorPrincipal;
}

body::-webkit-scrollbar {
    width: 3px;
    background-color: #252525;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #686868;
    border-radius: 1em;
  }


// NavBar Start
.header {
    position: fixed;
    z-index: 10;
    top: 0;
    height: 86px;
    width: 100%;
    background-color: $colorPrincipal;
    align-items: center;

    .containerHeader {
        width: 100%;
        height: 34px;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;

        .navBarLink {
            color: white;
        }

        .logoIn {
            align-items: center;
            width: 25%;
            height: 100%;
        }

        .containerNav {
            align-items: center;
            justify-content: center;
            gap: 30px;
            width: 50%;
            height: 100%;
        }

        .containerLog {
            align-items: center;
            justify-content: flex-end;
            gap: 20px;
            width: 25%;
            height: 100%;

            .widgetContainer {
                width: 10%;
                height: 100%;
                align-items: center;
                justify-content: center;
                text-decoration: none;
            }
            
            .signUpBtnContainer {
                align-items: center;
                justify-content: center;
                width: 25%;
                height: 100%;
                background-color: white;
                border-radius: 3px;

                .regBtn {
                    color: $colorPrincipal;
                }
            }

            .logOutContainer {
                justify-content: space-between;
                width: 40%;
                height: 100%;
                background-color: white;
                border-radius: 3px;

                .nameContainer {
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 50%;

                    .name {
                        color: $colorPrincipal;
                        font-size: 15px;
                        font-family: var(--font-texto);
                    }
                }

                .logOutBtnContainer {
                    align-items: center;
                    justify-content: flex-end;
                    height: 100%;
                    width: 50%;
                    background-color: #2B2B2B;


                    .btnLogOut {
                        // background-color: #bebebe;
                        background-color: white;
                        width: 96%;
                        height: 100%;
                        border: none;
                        cursor: pointer;
                        font-size: 15px;
                        font-family: var(--font-texto);
                        color: $colorPrincipal;
                        border-radius: 0 3px 3px 0;
                    }
                }
            }
        }
    }
}
// NavBar End

// responsiveController Start
.responsiveController {
    height: auto;
    justify-content: center;
    // align-items: center;
    margin: 0 20px;
    // flex-direction: column;
}
// responsiveController End

// Main Start
.containerMain {
    width: 100%;
    height: auto;
    // margin: 86px 0 86px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
// Main End

// Banner Start
.bannerContainer {
    width: 100%;
    height: 400px;
    margin-top: 86px;
    background-color: #2B2B2B;

    .bannerTextContainer {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        
        .textoBanner {
            color: white;
            font-family: var(--font-texto);
            font-size: 8rem;
        }
    }

}
// Banner End

// ItemListContainer Start
.containerList {
    width: 100%;
    // height: 100%;
    min-height: calc(100vh - 758px);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    margin: 86px 0 86px 0;

    .tTitulo {
        font-size: 4rem;
    }
}
// ItemListContainer End

// ItemCount Start 
.countContainer {
    width: 100%;
    height: 50px;
    align-items: center;
    gap: 20px;

    .containerCountBtn {
        width: 25%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        border: 2px solid white;

        .btnSubtract {
            width: 40%;
            background: none;
            border: none;
            font-size: 2rem;
            font-family: var(--font-light);
            color: white;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .contadorShow {
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            font-family: var(--font-light);
            color: white;
        }
        
        .btnPlus {
            width: 40%;
            background: none;
            border: none;
            font-size: 2rem;
            font-family: var(--font-light);
            color: white;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }

    .containerAddBtn {
        width: 25%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        border: 2px solid white;
        background-color: white;

        .btnAdd {
            width: 100%;
            background: none;
            border: none;
            font-size: 2rem;
            font-family: var(--font-black);
            color: $colorPrincipal;
        }
    }  
}
// ItemCount End

// ItemList Start
.containerItems {
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    column-gap: 6.66666667%;
    row-gap: 30px;

}
// ItemList End

// Item Start
.cardContainer {
    height: 380px;
    width: calc((100% / 4) - 5%);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    // gap: 20px;

    .cardImg {
        height: 80%;
        width: 100%;
        background-color: rgb(138, 138, 138);

        .imgCardContainer {
            width: 100%;
            height: 100%;

            .imgCard {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .cardInfo {
        width: 98%;
        height: 20%;
        flex-direction: column;
        justify-content: space-evenly;
        
        .itemPriceContainer {
            align-items: center;
            justify-content: space-between;
            max-height: 80%;

            h2 {
                font-size: 2.5rem;
                font-family: var(--font-texto);
                color: white;
            }

            h3 {
                font-size: 2rem;
                font-family: var(--font-texto);
                color: white;
            }
        }
        .categoria {

            h3 {
                font-size: 1.4rem;
                font-family: var(--font-texto);
                color: #ACACAC;
            }
        }
    }
}
// Item End

// ItemDetailContainer Start 
.containerItem {
    width: 100%;
    height: calc(100vh - 100px);
    // justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 40px;
    // margin: 80px 0;
}
// ItemDetailContainer End

// ItemDetail Start
.sectionImg {
    width: 50%;
    height: 600px;

    .imgContainer {
        width: 100%;
        height: 100%;
        justify-content: space-between;
        gap: 25px;

        .izqImg {
            width: 40%;
            height: 100%;

            .imgItem {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        .rImg {
            width: 60%;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .imgItem {
                width: 100%;
                height: calc(50% - 10px);
                object-fit: cover;
            }
        }


    }
}

.sectionInfo {
    width: 40%;
    height: 60%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .sec1 {
        width: 100%;
        flex-direction: column;
        gap: 10px;

        .nameContainer {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
    
            .itemNombre {
                font-size: 5.5rem;
                font-family: var(--font-black);
                color: white;
            }
    
            .itemCategoria {
                font-size: 3rem;
                font-family: var(--font-texto);
                color: #ACACAC;
            }
        }
    
        .descContainer {
            width: 100%;
            align-items: center;
            justify-content: flex-start;
    
            .itemDesc {
                font-size: 2rem;
                font-family: var(--font-light);
                color: white;
            }
        }
    }

    .sec2{
        width: 100%;
        justify-content: flex-start;

        .priceContainer {
            width: 100%;
            font-size: 4rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
    
            .itemPrecio {
                font-size: 3rem;
                font-family: var(--font-black);
                color: white;
            }

            .addItemContainer {
                width: 25%;
                height: 50px;
                background-color: white;
                align-items: center;
                justify-content: center;

                .addToBag {
                    text-decoration: none;
                    color: $colorPrincipal;
                    font-size: 1.8rem;
                    font-family: var(--font-black);
                }

            }
        }
    }


}
// ItemDetail End

// CartWidget Start

.containerCart {
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .cantidadWidget {
        position: relative;
        width: 20px;
        height: 20px;
        top: -8px;
        left: -18px;
        background-color: rgb(235, 235, 235);
        border-radius: 20rem;
        align-items: center;
        justify-content: center;
        

        p {
            font-size: 1rem;
        }
    }
}
// CartWidget End

// CartContainer Start

.cartContainer {
    width: 100%;
    min-height: calc(100vh - 100px);
    flex-direction: column;
    justify-content: center;

    .cartItemContainer {
        width: 100%;
        flex-direction: column;
        gap: 30px;

        p {
            font-size: 2rem;
        }

        .itemCart {
            justify-content: space-between;
            width: 100%;
            gap: 40px;
            
            
            p {
                font-size: 2rem;
            }
        }
        .totalContainer {
            justify-content: space-between;
        }
    }

    .opContainer {
        width: 100%;
        justify-content: space-between;

        .btnSc {
            width: 20%;
            height: 50px;
            border-radius: 1rem;
            background-color: rgb(233, 233, 233);
            font-size: 2rem;
            justify-content: center;
            align-items: center;

            &:hover {
                cursor: pointer;
            }
        }
    }

}
// CartContainer End

// FooterContainer Start
.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100px;
    width: 100%;

    .dividir {
        width: 100%;
        height: 4px;
        border-radius: 4rem;
        background-color: #252525;
    }

    .navContainerFooter {
        width: 100%;
        height: 86px;
        align-items: center;
        justify-content: space-between;
        
        .containerNav {
            width: 100%;
            gap: 20px;
            
            .navBarLink {
                color: rgb(124, 124, 124);
            }
        }

        .miNombre {
            width: 200px;
            font-size: 1.5rem;
            font-family: var(--font-light);
            color: rgb(124, 124, 124);
            justify-content: flex-end;
        }
    }
}
// FooterContainer End

// SignUp Start
.inicioBtn {
    position: absolute;
    left: 80px;
    top: 60px;
}
.signUpContainer {
    width: 100%;
    height: 100vh;

    align-items: center;
    justify-content: center;

    .inputContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 35%;
        height: 60%;
        background-color: #2A2A2A;
        border-radius: 4px;
        filter: drop-shadow(0px 0px 10px rgba(17, 17, 17, 0.5));

        .containerForm {
            width: 60%;
            height: 90%;
            flex-direction: column;
            justify-content: space-evenly;

            .titleUser {
                h3 {
                    font-family: var(--font-texto);
                    font-size: 4rem;
                    color: white;
                }
            }

            .inputsContainer {
                flex-direction: column;
                gap: 10px;

                .inCon {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;

                    .text {
                        font-size: 1.5rem;
                        font-family: var(--font-light);
                        color: rgb(221, 221, 221);
                    }

                    .inputTexto {
                        width: calc(100% - 14px);
                        height: 40px;
                        font-size: 1.5rem;
                        font-family: var(--font-light);
                        padding-left: 10px;
                        background-color: #2A2A2A;
                        border: 2px solid rgb(85, 85, 85);
                    }
                }
            }

            .errorContainer {
                width: 100%;
                justify-content: flex-start;

                .error {
                    font-size: 2rem;
                    font-family: var(--font-black);
                    color: rgb(211, 92, 92);
                }
            }

            .containerBtn {
                width: 100%;
                align-items: center;
                justify-content: space-between;

                .btnCon {
                    width: 45%;
                    height: 45px;
                    border: 2px solid white;
                    border-radius: 4px;
                    background-color: #ffffff;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;

                    .textoBtn {
                        font-size: 1.5rem;
                        font-family: var(--font-light);
                        color: $colorPrincipal;
                        border: none;
                        background-color: #ffffff;

                        & bloq {
                            pointer-events: none;
                        }
                    }
                }
            }
        }
    }

    .inputTexto {
        width: 100%;
        color: white;
    }
}
// SignUp End