@media screen and (min-width: 1700px) {
    // paginaContainer Start
    .paginaContainer {
        max-width: 1680px;
        height: auto;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    // paginaContainer End

    //navbar Start
    .header {
        align-items: center;
        justify-content: center;
        
        .containerHeader {
            max-width: 1680px;
        }
    }
    //navbar End
}

@media screen and (max-width: 1700px) {
       // paginaContainer Start
       .paginaContainer {
        height: auto;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    // paginaContainer End 
}